# KEYBOARD CONFIGURATION FILE
# Consult the keyboard(5) manual page.

XKBMODEL="{{ pi_keyboard_model }}"
XKBLAYOUT="{{ pi_keyboard_layout }}"
XKBVARIANT=""
XKBOPTIONS="terminate:ctrl_alt_bksp"
BACKSPACE="guess"
